{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block title %}Сдать квартиру посуточно в Москве{% endblock %}
{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Сдача жилья в краткосрочную аренду имеет много преимуществ!</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/income_increase.jpg' %}" alt="Увеличение дохода">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Увеличение дохода</h2>
                <p>
                  Сдача в краткосрочную аренду квартир на 50% выгодней долгосрочной.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/house_safety.jpg' %}" alt="Сохранность жилья">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Сохранность жилья</h2>
                <p>
                  Ваша квартира в основном используется как место для ночлега, что влечет ее меньший износ.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/short_term.png' %}" alt="Краткосрочные обязательства">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Краткосрочные обязательства</h2>
                <p>
                  Изменились обстоятельства? При краткосрочной аренде Вам не нужно долго ждать завершения аренды.
                </p>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </section>


  <!-- Roadblocks -->
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
    <h1 class="display-4">Трудности посуточной сдачи</h1>
    <h3>Требует много внимания. Фактически, это управление мини отелем. Это – профессиональная деятельность! </h3>
    </div>
    </div>
  </div>
  </section>

  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/reception.jpg' %}" alt="Встреча гостей">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Встреча гостей</h2>
                <p>
                  Ресепшен в отеле работает круглосуточно, а вы?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/cleaning.jpg' %}" alt="Уборка">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Уборка квартиры</h2>
                <p>
                  Вы готовы убирать квартиру за гостями или проконтролировать работу уборщицы?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/repair.jpg' %}" alt="ремонт">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Мелкий ремонт</h2>
                <p>
                  Трудно разобраться во всем, а вызов мастера обойдется дорого.
                </p>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </section>



  <!-- Are you sure you can/want do this? -->
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Сдавать квартиру самостоятельно?</h1>
          <h3>Есть ли у вас возможность и желание управляться самостоятельно? </h3>
        </div>
    </div>
  </div>
  </section>


  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/long_distance.jpg' %}" alt="Удаленность">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Удаленность</h2>
                <p>
                  Вы живете в другом городе или стране.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/being_busy.jpg' %}" alt="Занятость">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Занятость</h2>
                <p>
                  Ваше время и мысли заняты другим.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/being_investor.jpg' %}" alt="Инвестор">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h2 class="text-primary">Инвестор</h2>
                <p>
                  Вы хотите повысить доходность своей недвижимости.
                </p>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </section>


  <!-- Our Offer -->
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3 class="display-4">Наше предложение</h3>
          <h4>Доверьте нам управление краткосрочной арендой вашей квартиры. 
            Мы стали профессионалами, управляя своими собственными квартирами и создали свою управляющую компанию. 
            Теперь  мы готовы помочь и вам!</h4>
        </div>
    </div>
  </div>
  </section>

  
  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/transparent_money.jpg' %}" alt="">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Прозрачность</h4>
                <p>
                  Вы видите все расходы и доходы. Мы работаем за процент от вашей прибыли, это – лучший мотиватор нашей добросовестности.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/inspection.jpg' %}" alt="">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Контроль</h4>
                <p>
                  В любой момент между гостями вы можете лично проверить состояние квартиры.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{% static 'img/recommendation.jpg' %}" alt="">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Рекомендации</h4>
                <p>
                  Принимая решение работать с нами, вы сможете спросить мнение наших клиентов.
                </p>
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </section>

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3 class="display-4">Заинтересованы заработать с нами?</h3>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Оставить Заявку</button>      
        </div>
    </div>
  </div>
  </section>
 

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Оставить Заявку</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact_owner' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            
            <div class="form-group">
              <label for="name" class="col-form-label">Ваше Имя:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{user.first_name}} {{user.last_name}}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Ваш Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Ваш телефон:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Ваше Сообщение:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Showcase: I don't need search for now -->
  <!--  include 'partials/_showcase.html'  -->
  <!-- Alerts -->
  {% include 'partials/_alerts.html'%}


{% endblock %}