{% extends 'base.html'%}
{% block title %} | Owner Dashboard{% endblock %}
{% block content%}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Owner Dashboard</h1>
          <p class="lead">Your managed properties</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Owner Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

    <!-- Alerts-->
    {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{owner.name}}</h2>
          {% if units %}
          <p>Here are the properties we manage for you</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for unit in units %}
               <tr>
                <td>{{ unit.id }}</td>
                <td>{{ unit.title }}</td>
                <td>
                  <a class="btn btn-light" href="{% url 'listing' unit.id %}">View Listing</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>Strange, you do not have managed properties</p>
          {% endif %}

          <!-- Expenses-->
          
          {% if expenses %}
          <p>Expense report</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Vendor</th>
                <th scope="col">Amount</th>
                <th scope="col">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expenses %}
               <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.unit }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.vendor }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.note }}</td>
                <td>
                  <a class="btn btn-light" href="{% url 'listing' expense.id %}">View Property</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No expenses</p>
          {% endif %}

          <!-- Revenue-->
          {% if expenses %}
          <p>Revenue report</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Guest</th>
                <th scope="col">Amount</th>
                <th scope="col">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for revenue in revenues %}
               <tr>
                <td>{{ revenue.id }}</td>
                <td>{{ revenue.unit }}</td>
                <td>{{ revenue.date }}</td>
                <td>{{ revenue.category }}</td>
                <td>{{ revenue.guest }}</td>
                <td>{{ revenue.amount }}</td>
                <td>{{ revenue.note }}</td>
                <td>
                  <a class="btn btn-light" href="{% url 'listing' revenue.id %}">View Details</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No revenues</p>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
  {% endblock %}
