{% extends 'base.html'%}
{% load render_table from django_tables2 %}
{% block title %} | Transactions{% endblock %}
{% block content%}


  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'owner_dashboard' %}"> Owner</a></li>
          <li class="breadcrumb-item active"> Transactions</li>
        </ol>
      </nav>
    </div>
  </section>

  
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3 class="display-4">Account Ledger Report</h3>
        </div>
      </div>
    </div>
  </section>
   

  <section id="transactions" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Click on column name to sort</p>
          
          {% render_table ledger %}
          
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
